*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-contetn{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 46, 46);
}

.main-contetn h1{
    text-align: center;
    color: #fff;
    width: 500px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(42, 4, 179);
}

.main-contetn button{
    padding: 5px 30px;
    background-color: #313186c9;
    color: white;
    border-radius: 10px;
    border:1px solid #313186c9;
    font-size: 1.2em;
}

.main-contetn button:active{
    transform: scale(0.92);
}
.main-contetn button:focus{
    outline: none;
}